[
    {{#repeat min=10 max=20}}
    {
        "id": "{{guid}}",
        "title": "{{articletitle}}",
        "date": "{{date '2019-06-01T09:00' '2021-03-15T17:30'}}",
        "image": "/images/image{{int 1 20}}.jpg",
        "content": "{{lorem min=800 max=1300}}"
    }
    {{/repeat}}
]